/* Prototyping only */

.Header {
  position: absolute;
  top: 0;
  mix-blend-mode: lighten;
  z-index: 22;
  width: 100%;
}

.Header--Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Header--Container::after {
  background-image: linear-gradient(-90deg,rgba(255,255,255,0) 0,#fff 5%,#fff 90%,rgba(255,255,255,0) 100%);
  content: "";
  display: block;
  height: 2px;
  opacity: .08;
  width: 100%;
  max-width: 75rem;
}

.Header--MenuDesktop {
  width: 525px;
}

.Header--Signup {
  width: 327px;
}

.Header--LogoMobile {
  width: 157px;
  display: none;
}

.Header--MenuMobile {
  width: 73px;
  margin-top: 15px;
  display: none;
}

@media (max-width: 60em) {
  .Header--LogoMobile {
    display: block;
  }
  .Header--MenuMobile {
    display: block;
  }
  .Header--MenuDesktop {
    display: none;
  }
  .Header--Signup {
    display: none;
  }
}
