.Paragraph {
  font-size: 1rem;
  line-height: 1.618;
}

.Paragraph + .Button {
  margin-top: 2rem;
}

.SectionSubHeading {
  font-size: 1.3rem;
  margin-top: 0.5em;
}

.inverse .Paragraph {
  color: #fff;
}
