.Hero {
  background: #fff url('./wave.svg') bottom center no-repeat;
  background-size: cover;
  padding: 7rem 0;
  overflow: hidden;
  position: relative;
}

.Hero .Heading {
  color: #fff;
}

.Hero .Paragraph {
  font-size: 1.3rem;
  max-width: 26em;
  color: #fff;
}

.Hero .Image {
  position: absolute;
  top: 130px;
  left: 45%;
}
