.Hero {
  background: #fff url('./wave.svg') bottom center no-repeat;
  background-size: cover;
  padding: 7rem 0;
  overflow: hidden;
  position: relative;
}

.Hero--SectionSubHeading {
  max-width: 26em;
}

.Hero .Image {
  position: absolute;
  top: 130px;
  left: 45%;
}

@media (max-width: 60em) {
  .Hero .Image {
    top: -90px;
    left: 60%;
  }
}

@media (max-width: 40em) {
  .Hero {
    padding: 7rem 0 4rem;
  }
  .Hero .Image {
    display: none;
  }
}
