.MainFeatures--SectionHeading {
  margin-top: 0;
  margin-bottom: 4.5rem;
}

.MainFeaturesListItem {
  display: flex;
  align-items: center;
}

.MainFeaturesListItem + .MainFeaturesListItem {
  margin-top: 2rem;
}

.MainFeaturesListItem:nth-child(even) .Image {
  order: -1;
}

.MainFeaturesListItem--content {
  padding: 0 2rem;
}

.MainFeaturesListItem .Image {
  max-width: 230px
}

@media (max-width: 40em) {
  .MainFeaturesListItem {
    flex-direction: column;
  }
  .MainFeaturesListItem .Image {
    margin-bottom: 2rem;
    order: -1;
  }
}
