.CallOut {
  padding: 6rem 0 8rem 0;
  position: relative;
  text-align: center;
}

.CallOut .Container {
  position: relative;
}

.CallOut--SectionHeading {
  margin-bottom: 0;
}

.CallOut--SectionSubHeading {
  font-size: 1.3rem;
  margin-top: 0.5em;
}
