.SmallerFeaturesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.SmallerFeatures--SectionHeading {
  margin: 0 0 4rem 0;
}

.SmallerFeatures--Icon {
  width: 35px;
  height: 35px;
  color: var(--primary-color);
}

@media (max-width: 40em) {
  .SmallerFeaturesList {
    grid-template-columns: 1fr;
  }
}
