.Banner {
  background-color: #4b0c35;
  padding: 0;
  position: relative;
}

.Banner--image {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.Banner--image .Image {
  width: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Banner .Container {
  display: flex;
}

.Banner--SectionHeading {
  color: #fff;
  margin-bottom: 0;
}

.Banner--SectionSubHeading {
  font-size: 1.1rem;
  margin-top: 0.5em;
  color: #fff;
  max-width: 26em;
}

.Banner--content {
  flex-basis: 50%;
  padding: 5rem 0;
}

@media (max-width: 50em) {
  .Banner {
    overflow: hidden;
  }
  .Banner--image {
    position: absolute;
    left: 50%;
    width: 75%;
    height: 100%;
  }
}

@media (max-width: 30em) {
  .Banner--content {
    flex-basis: 100%;
  }
  .Banner--image {
    display: none;
  }
}
